@media screen and (max-width: 992px) {
  .menu-container ul:first-child,
  .menu-container .sub-mega-menu-1 {
    display: none !important;
  }
  .menu-container .mobile-nav-icon {
    display: block !important;
  }
  header .header-main .container .header-main-center ul:first-child{
    display: none !important;
  }
  header .header-main-center{
    display: none;
  }
  header .header-main .container .right{
    min-width:150px;
  }
  .home-page .right .owl-slide{
    padding: 0 15px;
  }
  .main .mega-menu .container .menu-container .search-block{
    width: 50%;
  }
  .main .mega-menu .container .menu-container .search-block .form-1{
    display: block;
    width: 100%;
  }
  .main .mega-menu .container .menu-container .search-block .form-2{
  display: none;
}
.new-container .block-container .new-item:nth-child(2n){
  border-right: none;
}
}
@media screen and (max-width: 767px){
  .fixed-panel,
  .fixed-social-icon{
    display: none;
  }
  .news-letter{
    left: 50%;
    transform: translate(-50%,0);
  }
  .content-header .blank,
  .content-header .blank-2{
    z-index: 10;
  }
  .vertical-menu > li{
    display: none;
  }
  .home-banner{
    display: none;
  }
  .home-page .left .vertical-menu .sub-menu-open .sub-menu{
    position: static;
  }
  .home-page .left .vertical-menu .sub-menu-open:hover .sub-menu{
    display: none;
  }
  .home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1,
  .home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2{
    width: 100%;
  }
  .home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1 ul li,
  .home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2 .menu-list{
    width: 100%;
  }
  .home-page .left .vertical-menu .sub-menu-open{
    position: relative;
  }
  .home-page .left .vertical-menu > li .fa-angle-down{
    display: block;
  }
  .footer-top-wrap{
    display: none;
  }
  .about-shop{
    display: none;
  }
}
@media screen and (max-width:700px){
  footer .footer-center .footer-link .link-block .block-title{
    border-bottom:1px solid white;
  }
  footer .footer-center .link-twitter .twitter-block{
    border-bottom:1px solid white
  }
  footer .footer-center .footer-link .link-block .block-content{
    display: none;
  }
}
@media screen and (max-width: 576px){
  .new-container .block-container .new-item{
    border-right: none;
  }
}

