@media screen and (max-width: 1000px) {
  .menu-container ul:first-child,
  .menu-container .sub-mega-menu-1 {
    display: none !important;
  }
  .menu-container .mobile-nav-icon {
    display: block !important;
  }
  header .header-main .container .header-main-center ul:first-child{
    display: none !important;
  }
}
