* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.5rem;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  src: url(../css/font-awesome.min.css);
}
body {
  background: #f5f5f5;
}

.caret {
  position: relative;
}
.caret::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 5px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #444444;
}

.caret-up {
  position: relative;
}
.caret-up::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 5px);
  width: 0;
  height: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #444444;
  transition: 0.3s;
  opacity: 0;
}
.caret-up:hover::after {
  width: 5px;
  opacity: 1;
}

.caret-right {
  position: relative;
}
.caret-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 5px);
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ffffff;
  transition: 0.3s;
  opacity: 1;
}

.caret-left {
  position: relative;
}
.caret-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #c2c2c2;
  transition: 0.3s;
  opacity: 1;
}
.caret-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 20px;
  height: 1px;
  background: #c2c2c2;
  opacity: 1;
}

.caret-left-only {
  position: relative;
}
.caret-left-only::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #c2c2c2;
  transition: 0.3s;
  opacity: 1;
}

.caret-down {
  position: relative;
}
.caret-down::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 5px;
  height: 5px;
  border-top: 5px solid #444444;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}

.canvas-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f5f5f5;
  overflow-x: hidden;
  transition: 0.5s;
}
.canvas-nav .off-canvas-nav-btn {
  display: block;
  height: 30px;
  background: #e55e5e;
}
.canvas-nav .off-canvas-nav-btn i {
  padding: 0 10px;
  line-height: 30px;
  color: white;
  float: right;
}
.canvas-nav > .mobile-nav {
  display: block;
  padding: 0 10px;
}
.canvas-nav > .mobile-nav > li {
  border-bottom: 1px solid #ffffff;
}
.canvas-nav > .mobile-nav > li .title {
  display: block;
  font-weight: bold;
  padding: 10px 15px;
}
.canvas-nav > .mobile-nav > li .title i {
  float: right;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 {
  background: #ffffff;
  padding: 10px;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li p:first-child {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 10px;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-nav-lvl2 {
  padding: 10px 15px 0 15px;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-nav-lvl2 li {
  padding: 0;
  border-right-color: none;
  line-height: 20px;
  border-bottom: 1px solid #c2c2c2;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .title {
  font-weight: bold;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item {
  padding: 10px 0;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-img {
  height: 50px;
  display: block;
  align-items: center;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-img img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-detail {
  padding: 5px 0 0 15px;
  line-height: 15px;
  font-size: 14px;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-detail .item-name {
  font-weight: bold;
  border: none;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-detail .item-name a {
  color: black;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-detail .item-name a:hover {
  color: #31a8d2;
}
.canvas-nav > .mobile-nav > li .mobile-nav-lvl1 > li .mobile-item-container .mobile-bar-item .item-detail .item-price {
  color: #31a8d2;
  padding-top: 10px;
}

sup {
  font-size: smaller !important;
  text-decoration: underline !important;
  font-style: italic !important;
}

.main {
  position: relative;
  left: 0;
  transition: 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav {
  width: 100%;
  font-size: 11px;
  background: #444444;
  color: #c2c2c2;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
header nav .container .default-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 100%;
}
header nav .container .default-nav .left {
  font-style: italic;
}
header nav .container .default-nav .left a {
  color: white;
}
header nav .container .default-nav .left a:hover {
  text-decoration: none;
  color: #31a8d2;
}
header nav .container .default-nav .user-info ul {
  display: flex;
}
header nav .container .default-nav .user-info ul li {
  border-right: 1px solid #616161;
  padding: 0 10px;
}
header nav .container .default-nav .user-info ul li:last-child {
  border-right: none;
}
header nav .container .default-nav .user-info ul li a {
  color: #c2c2c2;
  text-decoration: none;
}
header nav .container .default-nav .user-info ul li a:hover {
  color: white;
}
header nav .container .customize-nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  display: none;
}
header nav .container .customize-nav .left ul {
  display: flex;
  justify-content: space-between;
}
header nav .container .customize-nav .left ul li {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
header nav .container .customize-nav .left ul li .fa {
  position: relative;
  text-align: center;
  color: #c2c2c2;
  display: block;
  background: #777777;
  padding: 10px 0;
  height: 100%;
  width: 40px;
  font-size: 16px;
}
header nav .container .customize-nav .left ul li .content {
  padding: 0 10px;
  font-size: 12px;
  line-height: 14px;
}
header nav .container .customize-nav .left ul li .content p:first-child {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
header nav .container .customize-nav .left ul li .content p:last-child {
  font-style: italic;
}
header nav .container .customize-nav .popup-user {
  text-align: center;
  align-items: center;
  position: relative;
  padding: 5px 0;
}
header nav .container .customize-nav .popup-user .dropdown {
  position: relative;
  border: 1px solid #c2c2c2;
  padding: 5px;
}
header nav .container .customize-nav .popup-user .dropdown span {
  padding: 0 5px;
}
header nav .container .customize-nav .popup-user .popup-content {
  position: absolute;
  top: 90%;
  left: -50px;
  min-width: calc(100% + 50px);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
header nav .container .customize-nav .popup-user .popup-content ul {
  padding: 5px;
}
header nav .container .customize-nav .popup-user .popup-content ul li a {
  display: block;
  padding: 5px 10px;
}
header nav .container .customize-nav .popup-user .popup-content ul li a:hover {
  color: black;
  background: #c2c2c2;
}
header nav .container .customize-nav .cart {
  width: 15%;
  line-height: 14px;
  display: flex;
  position: relative;
  top: 100px;
  transition: 1s;
}
header nav .container .customize-nav .cart .fa {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  color: white;
  background: #31a8d2;
  position: relative;
}
header nav .container .customize-nav .cart .content {
  display: inline-block;
  padding-left: 10px;
}
header nav .container .customize-nav .cart .content p:first-child {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
header nav .container .customize-nav .cart .content p:last-child {
  font-size: 12px;
  font-style: italic;
}
header .header-main {
  background: #ffffff;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
}
header .header-main .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .header-main .container .left {
  position: relative;
  left: 0;
  padding: 25px 0;
  width: 20%;
  transition: 0.2s ease;
}
header .header-main .container .left img {
  width: 100%;
}
header .header-main .container .header-main-center {
  width: 62%;
}
header .header-main .container .header-main-center ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 20px;
}
header .header-main .container .header-main-center ul li {
  width: 33%;
  display: flex;
}
header .header-main .container .header-main-center ul li i {
  font-size: 14px;
  padding: 8px;
  background: #c2c2c2;
}
header .header-main .container .header-main-center ul li i::after {
  border-right-color: #ffffff;
}
header .header-main .container .header-main-center ul li .content {
  display: block;
}
header .header-main .container .header-main-center ul li .content p {
  line-height: 16px;
  padding-left: 5px;
}
header .header-main .container .header-main-center ul li .content p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
header .header-main .container .header-main-center ul li .content p:last-child {
  font-size: 12px;
  font-style: italic;
}
header .header-main .container .header-main-center .search-block-top {
  float: right;
  position: relative;
  font-size: 14px;
  width: 90%;
  display: none;
}
header .header-main .container .header-main-center .search-block-top form input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  outline: none;
  border: 1px solid #e5e5e5;
}
header .header-main .container .header-main-center .search-block-top form input:focus {
  border-color: #31a8d2;
}
header .header-main .container .header-main-center .search-block-top form button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  font-size: 16px;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}
header .header-main .container .right {
  width: 15%;
  padding: 25px 0;
  display: flex;
  position: relative;
  top: 0;
  transition: 0.3s ease;
}
header .header-main .container .right i {
  font-size: 16px;
  padding: 10px;
  background: #31a8d2;
  color: #ffffff;
}
header .header-main .container .right i::after {
  border-right-color: #ffffff;
}
header .header-main .container .right .content {
  padding-left: 10px;
}
header .header-main .container .right .content p {
  line-height: 16px;
}
header .header-main .container .right .content p:first-child {
  text-transform: uppercase;
  font-size: 11px;
}
header .mega-menu {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  margin: 0 auto;
}
header .mega-menu .container {
  padding: 0 15px;
}
header .mega-menu .container .menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header .mega-menu .container .menu-container ul {
  display: block;
}
header .mega-menu .container .menu-container ul li {
  position: relative;
  display: inline-block;
  border-left: 1px solid #e2e2e2;
}
header .mega-menu .container .menu-container ul li:last-child {
  border-right: 1px solid #e2e2e2;
}
header .mega-menu .container .menu-container ul li a {
  transition: 0.5s;
  padding: 15px;
  display: block;
}
header .mega-menu .container .menu-container ul li a:hover {
  color: #31a8d2;
  text-decoration: none;
}
header .mega-menu .container .menu-container ul li a i {
  font-weight: normal;
  font-size: 12px;
}
header .mega-menu .container .menu-container ul li .sub-lv1 {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 150%;
  text-align: left;
  background: #444444;
  transition: 1s;
  opacity: 0;
  z-index: 1;
}
header .mega-menu .container .menu-container ul li .sub-lv1 ul {
  display: block;
  font-size: 14px;
  padding: 10px 0;
}
header .mega-menu .container .menu-container ul li .sub-lv1 ul li {
  display: block;
  position: relative;
  border: none;
}
header .mega-menu .container .menu-container ul li .sub-lv1 ul li a {
  display: block;
  padding: 10px;
  color: #c2c2c2;
}
header .mega-menu .container .menu-container ul li .sub-lv1 ul li a i {
  float: right;
  font-size: 12px;
  font-weight: normal;
}
header .mega-menu .container .menu-container ul li .sub-lv1 .sub-lv2 {
  position: absolute;
  top: 40%;
  left: 100%;
  width: 100%;
  background: #444444;
  transition: 0.5s;
  z-index: 2;
  opacity: 0;
}
header .mega-menu .container .menu-container .search-block {
  display: inline-block;
  width: 25%;
}
header .mega-menu .container .menu-container .search-block .form-1 {
  position: relative;
  border: 1px solid #c2c2c2;
  display: none;
}
header .mega-menu .container .menu-container .search-block .form-1 input[type=text] {
  width: 100%;
  padding: 11px;
  border: none;
  outline: none;
  font-size: 12px;
}
header .mega-menu .container .menu-container .search-block .form-1 button[type=submit] {
  position: absolute;
  right: 0;
  padding: 10px;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}
header .mega-menu .container .menu-container .search-block .form-2 {
  position: relative;
}
header .mega-menu .container .menu-container .search-block .form-2 input[type=text] {
  width: 0;
  padding: 0;
  float: right;
  border: none;
  outline: none;
  font-size: 12px;
  transition: 0.5s ease;
}
header .mega-menu .container .menu-container .search-block .form-2 button[type=submit] {
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  background: none;
  padding: 12px;
  font-size: 14px;
  visibility: hidden;
  outline: none;
}
header .mega-menu .container .menu-container .search-block .form-2 span {
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  background: none;
  font-size: 14px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 {
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  background: #444444;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li {
  display: block;
  border: none;
  padding: 10px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li a {
  color: #c2c2c2;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li a:hover {
  color: #31a8d2;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li .title {
  display: block;
  padding: 10px 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #c2c2c2;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li ul li {
  width: 100%;
  padding: 5px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul li ul li a {
  padding: 0;
  font-size: 12px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .collection {
  width: 20%;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .iframe-video {
  width: 45%;
  margin-bottom: 50px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .product-container {
  width: 35%;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .product-container .product-beta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: normal;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .product-container .product-description {
  padding: 0 10px;
}
header .mega-menu .container .menu-container .sub-mega-menu-1 ul .product-container .product-description .product-name {
  font-size: 14px;
  font-weight: bold;
}

.negative-price {
  color: #c2c2c2;
  position: relative;
}
.negative-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #c2c2c2;
}

.positive-price {
  color: #31a8d2;
  padding-top: 30px;
}

.fixed-panel {
  position: fixed;
  top: 20%;
  right: -15px;
  transform: translate(-50%, -50%);
  transition: 1s ease;
  background: #ffffff;
  z-index: 10;
}
.fixed-panel .item {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  box-shadow: 3px -1px 5px #888;
}
.fixed-panel .item img {
  padding: 5px;
  width: 100%;
  object-fit: cover;
}
.fixed-panel .item .panel-tool {
  border: 1px solid #cccccc;
  box-shadow: 3px -1px 5px #888;
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  padding: 10px;
  background: #ffffff;
}
.fixed-panel .item .panel-tool .box-title {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  padding: 10px 0;
  font-weight: bold;
}
.fixed-panel .item .panel-tool ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px dashed #c2c2c2;
  margin-bottom: 10px;
}
.fixed-panel .item .panel-tool ul li .title {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  padding: 10px 0;
}
.fixed-panel .item .panel-tool ul li .option {
  width: 50%;
  text-align: center;
  align-items: center;
}
.fixed-panel .item .panel-tool ul li .option .option-name {
  font-size: 14px;
  padding: 10px 0;
  display: block;
  text-align: center;
}
.fixed-panel .item .panel-tool ul li .option .switch {
  position: relative;
  width: 90px;
  height: 35px;
  display: inline-block;
  background: #777777;
  border-radius: 40px;
  box-sizing: border-box;
}
.fixed-panel .item .panel-tool ul li .option .switch .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}
.fixed-panel .item .panel-tool ul li .option .switch .checkbox:checked + .switch-checkbox .switch-onoff {
  margin-left: 0;
}
.fixed-panel .item .panel-tool ul li .option .switch .checkbox:checked + .switch-checkbox .switch-switch {
  right: 0;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: 40px;
  transition: all 0.5s ease;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-switch {
  position: absolute;
  top: 0em;
  right: 65%;
  height: 15px;
  width: 20px;
  border-radius: 30px;
  background: white;
  margin: 10px 5px;
  z-index: 3;
  transition: 0.5s;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-onoff {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200%;
  height: 100%;
  margin-left: -100%;
  position: relative;
  transition: 1s;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-onoff::before, .fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-onoff::after {
  display: block;
  width: 50%;
  position: relative;
  top: 0em;
  color: #444444;
  line-height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-onoff::before {
  content: "ON";
  color: #ffffff;
  background: #31a8d2;
  left: 0;
  text-align: left;
}
.fixed-panel .item .panel-tool ul li .option .switch .switch-checkbox .switch-onoff::after {
  content: "OFF";
  color: #ffffff;
  right: 0;
  text-align: right;
}
.fixed-panel .item .panel-tool ul li .layout, .fixed-panel .item .panel-tool ul li .header-mode {
  display: block;
  text-align: left;
  width: 50%;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.fixed-panel .item .panel-tool ul li .layout:hover, .fixed-panel .item .panel-tool ul li .header-mode:hover {
  color: #31a8d2;
  font-weight: bold;
}

.fixed-social-icon {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 5;
}
.fixed-social-icon .social {
  position: relative;
  width: 150px;
  right: -115px;
  transition: 0.3s;
  display: flex;
  margin-bottom: 2px;
  background: white;
}
.fixed-social-icon .social i {
  position: relative;
  width: 30%;
  display: block;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #31a8d2;
}
.fixed-social-icon .social:hover {
  right: -35px;
}
.fixed-social-icon .social span {
  display: block;
  width: 65%;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #c2c2c2;
  border-left-width: 0px;
  border-right-width: 0px;
}

.news-letter {
  position: fixed;
  left: 60%;
  bottom: -90px;
  background: #ffffff;
  width: 300px;
  z-index: 10;
  transition: 0.5s;
  height: 120px;
}
.news-letter .title {
  display: block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  text-transform: uppercase;
  font-size: 16px;
  background: #e55e5e;
  color: white;
}
.news-letter .block-content {
  height: 0;
  padding: 15px;
}
.news-letter .block-content p {
  font-size: 13px;
  text-align: justify;
  line-height: 15px;
}
.news-letter .block-content form {
  display: block;
  width: 100%;
  height: 35px;
  position: relative;
  overflow: hidden;
}
.news-letter .block-content form input {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 35px;
}
.news-letter .block-content form input::placeholder {
  font-style: italic;
}
.news-letter .block-content form button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  margin: 2.5px;
}
.news-letter .block-content form button i {
  position: relative;
  display: block;
  line-height: 30px;
  width: 30px;
  text-align: center;
  -ms-flex-item-align: center;
  align-items: center;
  background: #e55e5e;
}

.content-header {
  text-transform: uppercase;
}
.content-header .title {
  padding: 10px 0;
  padding-left: 25px;
  font-size: 16px;
}
.content-header--white {
  color: white;
}
.content-header--black {
  color: black;
}

footer .footer-top .footer-top-wrap {
  margin-left: 15px;
  margin-right: 15px;
}
footer .footer-top .footer-top-wrap .vendor-list {
  border: 1px solid #777777;
  border-top-width: 0;
  padding-bottom: 10px;
  background: #ffffff;
}
footer .footer-top .footer-top-wrap .vendor-list .vendor {
  margin-top: 10px;
}
footer .footer-top .footer-top-wrap .vendor-list .vendor img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  transition: 0.3s;
  border: 1px solid #c2c2c2;
}
footer .footer-top .footer-top-wrap .vendor-list .vendor img:hover {
  border: 1px solid #31a8d2;
}
footer .footer-center {
  background: #444444;
  margin-top: 20px;
  padding: 50px 0;
}
footer .footer-center .about-shop {
  padding-bottom: 20px;
}
footer .footer-center .about-shop img {
  max-width: 100%;
  object-fit: cover;
}
footer .footer-center .about-shop p {
  padding-top: 10px;
  font-size: 13px;
  color: #c2c2c2;
  line-height: 15px;
  word-spacing: 1px;
  text-align: justify;
}
footer .footer-center .footer-link .link-block .block-title {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  padding-left: 15px;
  color: white;
  text-transform: uppercase;
}
footer .footer-center .footer-link .link-block .block-content ul {
  padding: 10px 0;
}
footer .footer-center .footer-link .link-block .block-content ul li {
  font-size: 13px;
}
footer .footer-center .footer-link .link-block .block-content ul li a {
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #c2c2c2;
  transition: 0.2s;
  text-decoration: none;
}
footer .footer-center .footer-link .link-block .block-content ul li a:hover {
  background-color: rgba(87, 87, 87, 0.6);
  color: white;
}
footer .footer-center .link-twitter .twitter-block {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  padding-left: 15px;
  color: white;
  text-transform: uppercase;
}
footer .footer-center .link-twitter iframe {
  height: 350px;
}
footer .footer-maps {
  position: relative;
  width: 100%;
  height: 400px;
  background: #c2c2c2;
}
footer .footer-maps .content span {
  padding: 10px 20px;
  background: #e55e5e;
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .copyright {
  text-align: center;
  background: #444444;
  padding: 20px;
}
footer .copyright p {
  font-size: 14px;
  padding-bottom: 10px;
}
footer .copyright p a {
  text-decoration: none;
  transition: 0.3s;
}
footer .copyright p a:hover {
  color: #31a8d2;
}

.home-page {
  margin-top: 20px;
}
.home-page .left {
  padding-left: 0px;
  padding-right: 0px;
  background: #31a8d2;
}
.home-page .left .vertical-menu {
  margin-top: 1px;
  background: #444444;
  position: relative;
}
.home-page .left .vertical-menu > li {
  border-bottom: 1px solid #c2c2c2;
}
.home-page .left .vertical-menu > li a {
  display: block;
  transition: 0.3s;
}
.home-page .left .vertical-menu > li a span {
  display: inline-block;
  padding: 7px 0;
  padding-left: 20px;
}
.home-page .left .vertical-menu > li a span .menu-title {
  color: white;
  transition: 0.3s;
}
.home-page .left .vertical-menu > li a span .menu-desc {
  font-size: 13px;
  font-style: italic;
  color: #777777;
}
.home-page .left .vertical-menu > li a:hover {
  background: #2b2b2b;
}
.home-page .left .vertical-menu > li a:hover .menu-title {
  color: #31a8d2;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  z-index: 10;
  display: none;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1 {
  margin-left: 2px;
  padding: 20px;
  width: 500px;
  height: 100%;
  background: #ffffff;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1 .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-1 ul li {
  display: inline-block;
  width: 40%;
  font-size: 13px;
  margin-bottom: 50px;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2 {
  margin-left: 2px;
  padding: 20px;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url(../images/vertical-sub-menu.png) no-repeat bottom right #ffffff;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2 .menu-list {
  width: 45%;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2 .menu-list .title {
  font-weight: bold;
}
.home-page .left .vertical-menu .sub-menu-open .sub-menu .sub-menu-2 .menu-list ul li a {
  display: block;
  padding: 5px 0;
  font-size: 14px;
  color: #c2c2c2;
}
.home-page .right .nivo {
  position: relative;
}
.home-page .right .nivo .caption {
  visibility: hidden;
  position: relative;
}
.home-page .right .nivo .caption p {
  color: #c2c2c2;
  padding-bottom: 10px;
}
.home-page .right .nivo .caption .title {
  text-transform: uppercase;
  font-size: 24px;
}
.home-page .right .nivo .caption .collection {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.home-page .right .nivo .caption .btn {
  padding: 5px 15px;
  font-size: 14px;
  background: rgba(68, 68, 68, 0.6);
  transition: 0.3s;
  border-radius: none !important;
}
.home-page .right .nivo .caption .btn a {
  color: #c2c2c2;
  text-decoration: none;
}
.home-page .right .nivo .caption .btn:hover {
  background: #31a8d2;
}
.home-page .right .owl-slide {
  padding: 0;
}
.home-page .right .owl-slide .sub-head {
  height: 30px;
  width: 100%;
}
.home-page .right .owl-slide .sub-head--red {
  background: #e55e5e;
}
.home-page .right .owl-slide .sub-head--gray {
  background: #777777;
}
.home-page .right .owl-slide .sub-head .sub-title {
  padding-left: 25px;
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.home-page .right .home-banner {
  margin-top: 20px;
}

.product-block {
  padding: 5px 0;
  position: relative;
  background: white;
}
.product-block .product-image {
  position: relative;
  width: 100%;
}
.product-block .product-image a {
  width: 100%;
}
.product-block .product-image a > img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  opacity: 1;
  z-index: 0;
}
.product-block .product-image a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  visibility: hidden;
  opacity: 0;
}
.product-block .product-image a span img {
  width: 100%;
}
.product-block .product-image a:hover > img {
  transform: rotateY(180deg);
  visibility: hidden;
  opacity: 0;
}
.product-block .product-image a:hover > span {
  visibility: visible;
  transform: rotateY(180deg);
  opacity: 1;
  z-index: 1;
}
.product-block .sale-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e55e5e;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}
.product-block .sale-box--round {
  top: 5%;
  right: 5%;
  border-radius: 40px;
  line-height: 40px;
}
.product-block .sale-box--triangle {
  top: 0;
  right: 0;
  border-top: 40px solid #e55e5e;
  border-left: 40px solid transparent;
}
.product-block .product-description {
  text-align: center;
  border-bottom: 1px solid #c2c2c2;
}
.product-block .product-description .product-name {
  font-size: 14px;
  font-weight: bold;
}
.product-block .product-description .product-name a {
  transition: 0.3s;
  text-decoration: none;
}
.product-block .product-description .product-name a:hover {
  color: #31a8d2;
}
.product-block .product-description .price {
  font-size: 13px;
  margin: 10px 0;
}
.product-block .product-description .price .positive-price {
  color: #e55e5e;
}
.product-block .countdown-box {
  margin: 10px 0;
  text-align: center;
  color: #e55e5e;
  font-weight: bold;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
